<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title><%= title%></title>
    </head>
    <body>
        <h2><%= title%></h2>
        <div class="row">
            <form id="categoryForm" autocomplete="off">
                <div class="col-md-3">
                    <label for="">Category ID</label>
                    <input type="number" name="categoryId" id="categoryId"/>
                </div>
                <div class="col-md-3">
                    <label for="">Category Name</label>
                    <input type="text" id="categoryName" name="categoryName"/>
                </div>
                <div class="col-md-3">
                    <button type="submit" id="submitButton">Submit</button>
                </div>
                </form>
        </div>
        <div>
            <table class="table table-striped" style="width: 50%;">
                <thead>
                    <tr>
                        <th scope="col">Category Id</th>
                        <th scope="col">Category Name</th>
                    </tr>
                </thead>
                <tbody tbody id="tableBody">
                        <tr >
                            <td colspan="2" style="text-align: center;">No Data</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </body>

    <script>

        /**
         * desc  : function gets all data and binds data to table 
         */
        function showDataInTable(){
            $.ajax({
                url : '/route/category/getData',
                type : 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success : function(result){
                    if(result.data.length){
                        var html = '';
                        for(var i = 0 ; i < result.data.length; i++){
                            html += `<tr>
                                <th>${result.data[i].categoryId}</th>
                                <th><a href="javascript:void(0)" class="edit" data-id="${result.data[i]._id}">${result.data[i].categoryName}</a></th>
                            </tr>`
                        }
                        $("#tableBody").html('');
                        $("#tableBody").html(html);
                    }
                }
            });
        }

        
        $(document).ready(function(){

            var subId = "";
            var method = "PUT";
            showDataInTable();

            $("#categoryForm").validate({
                submitHandler : function(form){
                    try{
                        var formdata = {
                            categoryId : $('#categoryId').val(),
                            categoryName : $('#categoryName').val(),
                        }
                        var url = "/route/category/addData";
                        if(method == "POST"){
                            url = "/route/category/update/"+subId;
                        }
                        $.ajax({
                            url : url,
                            type : method,
                            data : JSON.stringify(formdata),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success : function(result){
                                alert("data saved");
                                document.getElementById('categoryForm').reset();
                                showDataInTable();
                            }
                        })
                    }catch(e){
                        console.log(e)
                    }
                }
            });
        
            $(document).on("click", ".edit", function(){
                var id = $(this).attr("data-id");
                method = "POST"
                subId = id
                console.log(id);
                $.ajax({
                    url : "/route/category/getRecord/"+id,
                    type : "GET",
                    success : function(result){
                        // result = JSON.stringify(result);
                        console.log("result",result)
                        $("#categoryId").val(result.data.categoryId);
                        $("#categoryName").val(result.data.categoryName);
                    }
                })
            });
        });
    </script>
</html>